$base-color: #ffffff;
$highlight-color: #ecd407;
$background-color: #292929;
$icon-bg-color: #efae39;
$icon-color: #000000;
$form-color: #001d8a;

$base-font: 'Open Sans', sans-serif;
$base-font-size: 12px;

$txt-small-size: 0.8em;
$txt-normal-size: 2em;
$txt-large-size: 1.7em;

$base-line-height: 2em;